ion-list {
  background-color: transparent;
  padding: 0;
}
ion-row {
  align-items: center;
  text-align: center;
}
ion-item {
  border-radius: 10px !important;
  font-size: 0.9em;
  margin-bottom: 15px;
  border: 1px solid rgba(170, 170, 170, 0.096);
  border-bottom: 0px !important;

  background-color: #ffffff;
  -webkit-box-shadow: 4px 8px 6px -6px rgb(255, 255, 255);
  -moz-box-shadow: 4px 8px 6px -6px rgb(255, 255, 255);
  box-shadow: 4px 4px 6px -6px rgb(255, 255, 255);
}
ion-content {
  --ion-background-color: #ffffff;
}

.warnaHitam {
  color: black;
}

:host {
  ion-item {
    --border-color: white; // default underline color
    --highlight-color-invalid: red; // invalid underline color
    --highlight-color-valid: white; // valid underline color
  }
}
